.container {
  padding: 3rem;
  height: 500px;
  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
}
.wrapper {
  padding: 0 3rem 3rem 0;
}
.buttonsRow {
  display: flex;
  gap: 1rem;
  align-items: center;
}
